NEXT_PUBLIC_SUPABASE_URL=https://pjkaatxonskfkdqqcowy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBqa2FhdHhvbnNrZmtkcXFjb3d5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NzQ1MTcsImV4cCI6MjA5NDM1MDUxN30.WAXrkVR8-5G86d69jGGA3Z2D8s1y0J956MY4dH6YdOM
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_MAILTO=mailto:admin@yourcompany.com
